.customization-after-vertical {
  display: flex;
  justify-content: start;
  align-items: start;
  position: relative;
}

.customization-after-vertical::after {
  background: #000;
  border-radius: 5px;
  content: '';
  display: inline-block;
  height: 21px;
  width: 1px;
  left: 14px;
  top: 3px;
  position: absolute;
}

.customization-after::after {
  background: #000;
  border-radius: 5px;
  content: ' ';
  display: inline-block;
  height: 5px;
  left: 40px;
  position: absolute;
  top: 0;
  width: 100px;
}

.customization-after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
